body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: gray;
  }
  
  .login-image {
    background: url('image.png') no-repeat center center;
    background-size: cover;
    height: 100%;
  }
  
  .login-form {
    background-color: gray;
    padding: 40px;
  }
  
  .form-control {
    margin-bottom: 20px;
    background-color: aquamarine;
    border: 1px salmon;
  }

  
  .form-group{
    border-radius: 50%;
  }
  .btn-primary {
    border-radius: 30px;
  }
  
  .text-primary {
    display: block;
    margin-bottom: 20px;
  }
  
  img {
    margin: 0 10px;
  }
  